JWT_ALG=RS256
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt+HYGB8rLALsJ1BTKlel\nn69ydCnwwkYp+/5j5rsBHAY6MqiRWlin/EYGVJErUjqj5LMhYzG0XCqFzsW61Ugo\n+aK+MdnOSG9Em1ho86CufDlYe/PDIKlkDzA8hbs3DHAWPOIVNEbxgHQRKSEjGvJI\nc9YYeI0kpH82jHOg7OYf+PKm1EyJjcJn9S17by8RUBPKnDPFR5y/+wuWHIavFFLD\nkluCUtlqF1LuM4WQjCMaQ2/VME3My6FpTReiSLZZeeXjOUOzB1H28cQUyWJWHUgH\nvbEWTPJBJWliy625NpIfZM6vWub49qbPx23akuahqwO/CtG6w9Kyc3YtMN/YPt/5\nGQIDAQAB\n-----END PUBLIC KEY-----\n

OLLAMA_HOST=http://host.docker.internal:11434
SEARXNG_API_URL=http://searxng:8080
UNSTRUCTURED_API_URL=http://unstructured-api:8000
QDRANT_URL=http://qdrant:6333
