global
    maxconn 1024
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend tor_frontend
    bind *:9050
    default_backend tor_backend

backend tor_backend
    balance roundrobin
    server tor1 tor1:9050 check inter 2s fall 2 rise 3
    server tor2 tor2:9050 check inter 2s fall 2 rise 3
